
div {
  text-align: center;
  vertical-align: middle;

}

button, input, select {
  width:50;
  height:50;
  border: none;
  padding: 0;  /*needed for ios iphone ipad*/ 
  text-align: center;
  text-decoration: none;
  font-size:33;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  vertical-align: middle;
}

button.legend {
  background-color: white;
  font-size:20;
}

button.lost {
  background-color: white;
  font-size:33;
}

.selected {
  animation: blinker 0.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
